.profile-container {
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 45px auto;
    max-width: 500px;
    padding: 30px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-icon {
    background-color: #a879e6;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 15px;
  }
  
  .profile-info {
    text-align: left; /* Changed to left for English */
  }
  
  .profile-name {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .profile-email {
    color: #777;
    font-size: 14px;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 16px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input::placeholder { /* To style the placeholder text */
    color: #aaa;
  }
  
  .save-button,
  .view-ads-button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .save-button {
    background-color: #a879e6;
    color: white;
    margin-bottom: 10px;
  }
  
  .save-button:hover {
    background-color: #8c59c6;
  }
  
  .view-ads-button {
    background-color: #e0d8f2;
    color: #555;
  }
  
  .view-ads-button:hover {
    background-color: #d1c5e5;
  }